*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.choosing{
  position: absolute;
  width: 100%;
  height: 509px;
  left: 0px;
  top: 1333px;
  
  background: #e5e5e5;
}
.eps1{
  width: 31px;
  height: 31px;
  position: absolute;
  left: 1193px;
  top: 190px;
  border-radius: 100%;
  background: #E29014;
}
.eps2{
  width: 31px;
  height: 31px;
  position: absolute;
  left: 1192px;
  top: 450px;
  border-radius: 100%;
  background: #F1F1F1;
  z-index: 45;
}
.eps3{
  width: 31px;
  height: 31px;
  position: absolute;
  left: 722px;
  top: 370px;
  border-radius: 100%;
  background: #555555;
  z-index: 45;
}
.eps4{
  width: 31px;
  height: 31px;
  position: absolute;
  left: 800px;
  top: 530px;
  border-radius: 100%;
  background: #E29014;
  z-index: 45;
}
.eps5{
  width: 31px;
  height: 31px;
  position: absolute;
  left: 993px;
  top: 630px;
  border-radius: 100%;
  background: #E29014;
  z-index: 45;
}
.elipse1 {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 873px;
  top: 187px;

  background: #e29014;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.elipse2 {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 942px;
  top: 329px;
  border-radius: 100%;
  background: #555555;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.Hire {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 140px;
  top: 530px;
  background: #e29014;
  border-radius: 20px;
  line-height: 40px;
  font-family: "Roboto";
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;  
  text-decoration: none;
  /* identical to box height */
  
  color: #f1f1f1;
  transition: box-shadow 400ms linear 4ms;
}
.Hire:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.downloadCV {
  position: absolute;
  width: 128px;
  height: 40px;
  left: 272px;
  top: 530px;

  border: 1px solid #e29014;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  /* identical to box height */
  
  color: #e29014;
  transition: box-shadow 400ms linear 4ms;
}
.downloadCV:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.image{
  position: absolute;
  width: auto;
  height: 370px;
  left: 790px;
  top: 187px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}

.intro {
  margin-top: 0;
  position: absolute;
  width: 359px;
  height: 64px;
  left: 137px;
  top: 187px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;

  color: #707070;
}
.name {
  margin-top: 0;
  position: absolute;
  width: 497px;
  height: 59px;
  left: 138px;
  top: 257px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */

  color: #e29014;
}

nav{
  position: fixed;
  z-index: 48;
  width: 1348px;
  height: 80px;
  border: 0;
  top: 0;
  background-color: #e5e5e5;
  
}
nav li {
  display: inline-block;
}
nav .one {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 515px;
  top: 42px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #707070;
}
nav .two {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 617px;
  top: 42px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #707070;
}
nav .three {
  position: absolute;
  width: 89px;
  height: 19px;
  left: 706px;
  top: 42px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #707070;
}
nav .Home {
  position: absolute;
  width: 43px;
  height: 19px;
  left: 140px;
  top: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #e29014;
}
nav .rectangle {
  position: absolute;
  color: #f1f1f1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 40px;
  left: 1128px;
  top: 32px;
  background: #e29014;
  border-radius: 20px;
  transition: box-shadow 400ms linear 4ms;
}
nav .rectangle:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.profile {
  position: absolute;
  width: 498px;
  height: 57px;
  left: 139px;
  top: 348px;
  margin-top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #707070;
}
.projects{
  position: absolute;
  width: 1348px;
  height: 509px;
  left: 0px;
  top: 824px;
  
  background: #555555;
}
.projects .recent{
  position: absolute;
  width: 133px;
  height: 23px;
  left: 139px;
  top: 20px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #FFFFFF;
}
.projects .recentT{
  position: absolute;
  width: 502px;
  height: 23px;
  left: 523px;
  top: 80px;
  margin-top: 0;
    
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
    
  color: #FFFFFF;
}
.projects .projectImage{
  position: absolute;
  width: 351px;
  height: 388px;
  left: 140px;
  top: 80px;
  border-radius: 8px;
}
.projects .projectSummary{
  position: absolute;
  width: 700px;
  height: 279px;
  left: 523px;
  top: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding: 15px;
  /* or 200% */
  
  
  color: #F1F1F1;
}
.projects .view{
  position: absolute;
  width: 85px;
  height: 40px;
  left: 523px;
  top: 430px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height, or 200% */
  
  text-align: center;
  text-decoration: none;
  
  color: #555555;
  cursor: pointer;
  transition: box-shadow 400ms linear 4ms;
}
.projects .view:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.toproject {
  position: absolute;
  width: 125px;
  height: 19px;
  left: 432px;
  top: 540px;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #e29014;
}
.toproject span{
  padding: 10px;
}
.socialLink{
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 31px;
  left: 145px;
  top: 590px;
  line-height: 31px;
  /* background-color: #555555; */
  border-radius: 100%;
  text-align: center;
  color: #e29014;
  transition: box-shadow 400ms linear 4ms;
}
.socialLink:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.socialGit{
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 31px;
    left: 180px;
    top: 590px;
    line-height: 31px;
    /* background-color: #555555; */
    border-radius: 100%;
    text-align: center;
    color: #e29014;   
    transition: box-shadow 400ms linear 4ms;
}
.socialGit:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.socialTweet {
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 31px;
  left: 215px;
  top: 590px;
  line-height: 31px;
  /* background-color: #555555; */
  border-radius: 100%;
  text-align: center;
  color: #e29014;
  transition: box-shadow 400ms linear 4ms;
}
.socialTweet:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.whychoose{
  position: absolute;
  width: 153px;
  height: 23px;
  left: 139px;
  top: 20px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #E29014;
}

.text{
  position: absolute;
  width: 1089px;
  height: 206px;
  left: 140px;
  top: 80px;
  
  background: #888888;
  opacity: 0.1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.content{
  padding: 13px;
  position: absolute;
  width: 1060px;
  height: 186px;
  left: 156px;
  top: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  /* or 200% */
  
  color: #707070;
}

.education{
  position: absolute;
  width: 219px;
  height: 23px;
  left: 139px;
  top: 300px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #E29014;
}
.certifications{
  position: absolute;
  width: 294px;
  height: 23px;
  left: 500px;
  top: 300px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #E29014;
}
.experience{
  position: absolute;
  width: 179px;
  height: 23px;
  left: 950px;
  top: 300px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  
  color: #E29014;
}



/* left  */
.line1 {
  position: absolute;
  height: 150px;
  left: 155px;
  top: 390px;
  border: 1px solid #C4C4C4;
}
.elipse3{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 140px;
  top: 390px;
  border-radius: 100%;
  background: #C4C4C4;
}
.elipse4 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 140px;
  top: 452px;
  border-radius: 100%;
  background: #C4C4C4;
}.elipse5 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 140px;
  top: 514px;
  border-radius: 100%;
  background: #C4C4C4;
}
.university{
  position: absolute;
  width: 200px;
  left:186px;
  top: 390px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #707070;
}
.university:hover ~ .ellipse3{
  background-color: #000000;
}
.degree{
  position: absolute;
  width: 250.047px;
  left:186px;
  top: 409px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}
.shs{
  position: absolute;
  left:186px;
  width: 250.594px;
  top: 452px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #707070;
}
.wassce{
  position: absolute;
  width: 250.562px;
  left:186px;
  top: 471px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  
  color: #000000;
  
  opacity: 0.7;
}
.jhs{
  position: absolute;
  width: 200.562px;
  left:186px;
  top: 514px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #707070;
}
.bece{
  position: absolute;
  width: 200.828px;
  left:186px;
  top: 531px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  
  color: #000000;
  
  opacity: 0.7;
}
/* middle */
.line2 {
  position: absolute;
  height: 150px;
  left: 516px;
  top: 390px;
  border: 1px solid #C4C4C4;
}
.elipse6 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 501px;
  top: 390px;
  border-radius: 100%;
  background: #C4C4C4;
}

.elipse7 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 501px;
  top: 452px;
  border-radius: 100%;
  background: #C4C4C4;
}

.elipse8 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 501px;
  top: 514px;
  border-radius: 100%;
  background: #C4C4C4;
}

.datascience {
  width: 250.266px;
  position: absolute;
  left: 547px;
  top: 390px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #707070;
}

.cert1 {
  width: 250.469px;
  position: absolute;
  left: 548px;
  top: 409px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}

.deeplearning {
  width: 250.969px;
  position: absolute;
  left: 547px;
  top: 452px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #707070;
}

.cert2 {
  width: 250.562px;
  position: absolute;
  left: 548px;
  top: 471px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}

.machine {
  width: 250px;
  position: absolute;
  left: 547px;
  top: 514px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #707070;
}

.cert3 {
  position: absolute;
  width: 300px;
  left: 548px;
  top: 531px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}
.cert3 span{
  color: #E29014;
  text-decoration: underline;
  font-size: 14px;
}
/* Right */
.line3 {
  position: absolute;
  height: 150px;
  left: 966px;
  top: 390px;
  border: 1px solid #C4C4C4;
}
.elipse9 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 951px;
  top: 390px;
  border-radius: 100%;
  background: #C4C4C4;
}

.elipse10 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 951px;
  top: 452px;
  border-radius: 100%;
  background: #C4C4C4;
}

.elipse11 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 951px;
  top: 514px;
  border-radius: 100%;
  background: #C4C4C4;
}

.amalitech {
  width: 250px;
  position: absolute;
  left: 998px;
  top: 390px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #707070;
}

.role1 {
  width: 250px;
  position: absolute;
  left: 998px;
  top: 409px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}

.ugcs {
  width: 350px;
  position: absolute;
  left: 998px;
  top: 452px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #707070;
}

.role2 {
  width: 300px;
  position: absolute;
  left: 998px;
  top: 471px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}

.gacl {
  width: 300px;
  position: absolute;
  left: 998px;
  top: 514px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #707070;
}

.role3 {

  width: 300px;
  position: absolute;
  left: 998px;
  top: 531px;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  color: #000000;

  opacity: 0.7;
}
.footer{
  position: relative;
  top: 2000px;
  width: 100%;
  height: 50px;
  background: #e5e5e5;
}
.last{
  position: relative;
}
.first{
  background-color: #000000 ;
  /* position: relative; */

}
.second{
  background-color: #000000;
}
.third{
  background-color: #000000;
}


@media only screen  and (min-width: 1824px){
  body{
    position: absolute;
    margin: 0 auto;
    left: 15%;
    right: 15%;
  }
 .projects{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
 }
 .choosing{
   top:1356px;
 }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}
